body {
  font-size: 16px;
  line-height: 26px;
  color: $default;
  @extend %quicksand-500;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border: 50px;
}