a, body {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

.modal__btn, .modal__link, .footer-top__title, .menu__list-link, .footer-top__form-btn {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

.menu__list-link--active, .menu__list-link:hover, .title {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

.footer-top__form-btn {
  background-color: #fe3e57;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 26px;
  box-shadow: 0 7px 20px 0 rgba(255, 17, 48, 0.3);
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "Quicksand-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 26px;
  color: #8d8d8d;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  line-height: 26px;
  color: #8d8d8d;
}

.section {
  padding: 60px 0;
}

.title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  max-width: 570px;
  width: 100%;
  margin: 0 auto 55px;
}

.breadcrumbs {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  flex-wrap: wrap;
}
.breadcrumbs::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/home-icon.svg");
  width: 16px;
  height: 16px;
  left: 0;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item {
  color: #727272;
  padding-right: 40px;
  position: relative;
}
.breadcrumbs__item::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/angle-right.svg");
  width: 9px;
  height: 10px;
  right: 15px;
  top: 9px;
}
.breadcrumbs__item:last-child {
  color: #fe3e57;
  padding-right: 0;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  color: inherit;
}

.header--404-page {
  background-color: #f6f6f6;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination__list {
  display: flex;
  padding: 0 35px;
}
.pagination__item {
  padding: 0 15px;
}
.pagination__link--active {
  color: #fe3e57;
}
.pagination__arrows {
  text-transform: uppercase;
  position: relative;
}
.pagination__arrows::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  top: 8px;
  background-image: url("../images/icons/angle_left.svg");
}
.pagination__prev {
  padding-left: 15px;
}
.pagination__prev::before {
  left: 0;
}
.pagination__next {
  padding-right: 15px;
}
.pagination__next::before {
  transform: rotate(180deg);
  right: 0;
}

@media (max-width: 620px) {
  .title {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.header {
  padding: 40px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
}
.menu__list-item:not(:last-child) {
  padding-right: 35px;
}
.menu__list-link {
  color: #29282d;
  padding-bottom: 0 2px 1px;
  transition: color 0.3s;
}
.menu__list-link:hover {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}
.menu__list-link--active {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}

.user-nav {
  display: flex;
}
.user-nav__link {
  position: relative;
}
.user-nav__link + .user-nav__link {
  padding-left: 25px;
}
.user-nav__num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe3e57;
  top: -9px;
  right: -14px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

@media (max-width: 1200px) {
  .header__inner {
    padding-right: 10px;
  }
}
@media (max-width: 860px) {
  .menu {
    order: 1;
    margin-left: 40px;
  }
  .menu__list {
    transform: translateY(-200%);
    position: absolute;
    top: 140px;
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    transition: all 0.3s;
    background-color: #fff;
  }
  .menu__list.menu__list--active {
    transform: translateY(0%);
    transition: all 0.3s;
  }
  .menu__list-item:not(:last-child) {
    padding-right: 15px;
  }
  .menu__list-item {
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  .menu__list-link {
    padding: 12px 0;
    display: block;
  }
  .menu__btn {
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
  }
  .menu__btn span {
    width: 100%;
    height: 3px;
    background-color: #29282d;
  }
  .menu__btn::after, .menu__btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #29282d;
  }
  .menu__btn::after {
    bottom: 0;
  }
  .menu__btn::before {
    top: 0;
  }
  .user-nav {
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .header__inner {
    padding-right: 0;
  }
  .menu {
    order: 0;
  }
  .user-nav {
    width: 100%;
    margin-top: 35px;
    justify-content: flex-end;
    padding-right: 15px;
  }
}
.footer {
  background-color: #f6f6f6;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
}
.footer-top__contact {
  width: 250px;
  margin-right: 50px;
}
.footer-top__nav {
  width: 170px;
  margin-right: 30px;
}
.footer-top__item-form {
  max-width: 470px;
}
.footer-top__logo {
  margin-bottom: 33px;
  display: block;
}
.footer-top__adders, .footer-top__email, .footer-top__phone {
  display: block;
  margin-bottom: 14px;
}
.footer-top__social-list {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.footer-top__social-item:not(:last-child) {
  padding-right: 18px;
}
.footer-top__social-link {
  transform: color 0.3s;
}
.footer-top__social-link path {
  fill: #8d8d8d;
}
.footer-top__social-link:hover path {
  fill: #fe3e57;
}
.footer-top__title {
  color: #29282d;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1;
}
.footer-top__form {
  display: flex;
}
.footer-top__link {
  margin-bottom: 14px;
  display: block;
}
.footer-top__text {
  margin-bottom: 25px;
}
.footer-top__form-input {
  background-color: #fff;
  max-width: 320px;
  width: 100%;
  border: none;
  padding: 15px;
  box-shadow: 0 7px 20px 0 rgba(192, 192, 192, 0.3);
}
.footer-top__form-input::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}
.footer-bottom {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
}
.footer-bottom__accept-img {
  display: inline;
  margin-left: 25px;
  vertical-align: middle;
}

@media (max-width: 1050px) {
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-top__item-form {
    max-width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 860px) {
  .footer-top__contact {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 620px) {
  .footer-top__title {
    margin-bottom: 20px;
  }
  .footer-bottom {
    justify-content: center;
  }
  .footer-bottom__copy {
    width: 100%;
    text-align: center;
  }
  .footer-bottom__accept-img {
    margin-left: 15px;
  }
}
@media (max-width: 420px) {
  .footer-top__form {
    flex-wrap: wrap;
  }
  .footer-top__form-input {
    max-width: 100%;
    margin-right: 0;
  }
  .footer-top__form-btn {
    width: 100%;
  }
}
.top {
  padding-bottom: 60px;
}
.top__container {
  max-width: 1700px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 130px;
  text-align: center;
}

.modal {
  max-width: 570px;
  width: 100%;
  margin: 0 auto 115px;
  padding-top: 115px;
}
.modal__links {
  text-align: center;
  margin-bottom: 40px;
}
.modal__link {
  color: #909090;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 30px;
}
.modal__link--active {
  color: #fe3e57;
}
.modal__label {
  margin-bottom: 30px;
  display: block;
}
.modal__input {
  display: block;
  width: 100%;
  border: none;
  background-color: #f6f6f6;
  margin-top: 5px;
  height: 60px;
  padding: 0 15px;
}
.modal__btn {
  display: block;
  background-color: #29282d;
  color: #fff;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.modal__error {
  color: #fe3e57;
}
.modal__text {
  margin-bottom: 25px;
}

@media (max-width: 375px) {
  .modal__link {
    margin: 0 20px;
  }
}/*# sourceMappingURL=login.css.map */