.footer {
  background-color: $bg;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__contact {
    max-width: 250px;
    width: 100%;
    margin-right: 50px;
  }

  &__nav {
    max-width: 170px;
    width: 100%;
    margin-right: 30px;
  }

  &__item-form {
    max-width: 470px;
    width: 100%;
  }

  &__logo {
    margin-bottom: 33px;
    display: block;
  }

  &__adders,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 14px;
  }

  &__social-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__social-item:not(:last-child) {
    padding-right: 18px;
  }

  &__social-link {
    transform: color .3s;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    color: $title;
    @extend %roboto-400;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1;
  }

  &__link {
    margin-bottom: 14px;
    display: block;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form-input {
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    border: none;
    padding: 15px;
    box-shadow: 0 7px 20px 0 rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }

  &__form-btn {
    @extend %btn
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__accept-img {
    display: inline;
    margin-left: 25px;
    vertical-align: middle;
  }
}

